ion-title span {
  padding: 0 1%;
  border-left: 0.5px solid;
}

ion-title span:last-child {
  border: none;
}

.order-desktop-title {
  display: none;
}

@media only screen and (min-width: 770px) {
  .order-desktop-title {
    display: block;
  }

  .order-mobile-title {
    display: none;
  }
}