ion-content, ion-item, ion-list-header {
  --color: var(--ion-color-secondary-shade);
  --background: var(--ion-color-light-tint);
}

.list-md {
  background: var(--ion-color-light-tint);
}

.nested-list {
  background: var(--ion-color-light-shade);
  padding: 0;
}

ion-icon {
  font-size: 1.4rem;
}

.final-price {
  --background: #cbdbe1;
  --border-radius: 5px;
}

ion-row {
  align-items: center;
}